* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 1.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button, input, form {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
}



