.container-geral-menu {
    width: 100vw;
    max-width: 144rem;
    height: 12rem;
    min-width: 100rem;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-logomarca {
    width: 24rem;
    display: flex;
}

.container-menu-nav {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.container-menu-nav button {
    display: flex;
    gap: 1rem;
    align-items: center;
    border: solid 0.1rem transparent;
    border-radius: 1rem;
    padding: 1rem;
}
.container-menu-nav button:hover {
    border: solid 0.1rem #B7005C;
}

.container-menu-nav div:last-child button {
    background-color: #B7005C;
    color: white;
    justify-content: center;
    width: 12rem;
}

.current-cart-mobile {
    display: none;
}

@media screen and (max-width: 600px) {
    .container-geral-menu {
        height: 16rem;
        width: 100%;
        /* background-color: #B7005C; */
        display: flex;
        flex-direction: column;
        padding: 2rem;
        min-width: 30rem;
        max-width: 60rem;
    }

    .container-logomarca {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

   
    .container-menu-nav {
        display: flex;
        gap: 3rem;
        align-items: center;
        width: 100vw;
        justify-content: center;
    }

    .container-menu-nav img {
        width: 2rem;
        height: 2rem;
    }

    .container-menu-nav span {
        display: none;
    }

    .container-menu-nav button {
        display: flex;
        gap: 1rem;
        align-items: center;
        width: 5rem;
        padding: 1rem;
    }

    .container-menu-nav div:last-child button {
        background-color: initial;
        color: lightgray;
        justify-content: center;
        width: 5rem;
    }

    .current-cart-mobile {
        display: flex !important;
    }

}
